<div class="popup actor-big" data-width="50%" data-position="top" data-scroll="scroll" id="actor-<%= actor.id %>">
  <div class="col-1-to-3-quarters cf">
    <div>
      <%= image_tag actor.avatar, class: "compact" %>
    </div>
    <div>
      <%= content_tag :h3, actor.name, class: "pinky" %>
      <%= content_tag :p, actor.description %>
    </div>
  </div>
  <% if actor.photos.any? %>
    <div class="gallery">
      <ul class="items">
        <% actor.photos.each do |photo| %>
          <li class="item"><%= image_tag photo.image_url, class: "compact" %><div class="overlay"></div>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if actor.videos.any? %>
    <h4 class="pinky txt-center">Видео</h4>
    <div class="tv">
      <div class="slider">
        <ul class="slides">
          <% actor.videos.each do |video| %>
            <li class="slide"><%= video.embed_code.html_safe %>
          <% end %>
        </ul>
        <a class="arrow outer-arrow left">
          &lsaquo;
        </a>
        <a class="arrow outer-arrow right">
          &rsaquo;
        </a> 
      </div>
    </div>
  <% end %>
  <span class="close">&times;</span>
</div>
