<div id="<%= order.id %>" class="order">
  <%= content_tag :h4 do %>
    <%= "Заказ от #{order.name} для #{order.actor_name}" %>
  <% end %>
  <%= content_tag :span, order.phone %>
  <%= content_tag :p, order.comment %>
</div>
