<!DOCTYPE html>
<html>
<head>
  <title>Люди хорошие. Профессиональные ведущие на Ваш праздник</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin,cyrillic,cyrillic-ext' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="main">
<%= yield %>
<footer>
  <div class="col-3 cf">
    <div>
      <%= image_tag "logo.png", alt: "Люди хорошие. Профессиональные ведущие на Ваш праздник", class: "compact" %>
    </div>
    <div>
      <div class="cf">
        <div class="fleft">
          <p>Наши контакты</p>
          <p class="phone">
            <%= image_tag "icon-phone.png", class: "icon-phone" %> 
            +7 (495) 968-83-97
          </p>
          <p class="email">
            <%= image_tag "icon-email.png", class: "icon-phone" %> 
            ludihoroshie@gmail.com
          </p>
          <a href="#" class="pink-button popup-button" data-for="#callback-form">Заказать звонок</a>
        </div>
      </div>
    </div>
    <div>
      <div class="cf">
        <div class="fright table icons">
          <div class="row">
            <div class="cell">
              <%= image_tag "icon-fb.jpg" %>
            </div>
            <div class="cell">
              <%= image_tag "icon-youtube.jpg" %>
            </div>
          </div>
          <div class="row">
            <div class="cell">
              <%= image_tag "icon-twitter.jpg" %>
            </div>
            <div class="cell">
              <%= image_tag "icon-vk.jpg" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
